.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items-unorder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.items-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3aa6f;
  width: 80%;
  height: 50px;
  margin: 5px;
  list-style: none;
  font-size: 1.2rem;
}

.input-style {
  width: 60%;
  height: 50px;
  font-size: 1.2rem;
}

